<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked books</title>
</head>
<body>
    <% if (bookedBooks.length > 0){ %>
        <% bookedBooks.forEach(bookedBook =>{ %>
            <a href="/bookedbook/<%= bookedBook._id %>" class="bookedBook">
            <h3><%= bookedBook.bookTitle %></h3>
            </a>
        <%})%>
    <%}else{%>
        <p>None available</p>
    <%}%>
</body>
</html>