<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taken Books</title>
</head>
<body>
    Heyya taken books
    <% if(takenBooks.length > 0){%>
        <% takenBooks.forEach(takenBook=>{%>
            <a href="/takenbook/<%= takenBook._id %>">
            <h3><%= takenBook.bookTitle %></h3>
            <h5><%= takenBook.fine %></h5>
            </a>
        <%})%>
    <%}else{%>
        <p>No taken books so far</p>
    <%}%>
</body>
</html>