<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Taken Book</title>
</head>
<body>
    <div>
        <h3><%= takenBook.bookTitle %></h3>
        <h5><%= takenBook.fine %></h5>
        <br>
        <br>
        <a href="" class="returned btn btn-primary" data-return="<%=takenBook._id%>">Returned</a>
    </div>
    <script>
        const returnBook = document.querySelector('a.returned')
        returnBook.addEventListener('click',(e)=>{
            const endpoint = `/takenbookreturned/${returnBook.dataset.return}`
            fetch(endpoint,{
                method : 'DELETE'
            })
            .then((response)=> response.json())
            .then((data)=> console.log(data))
            .catch((err)=>{
                console.log(err)
            })
        })
    </script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>


<!-- Query selector and all, finally, response.json() -->